@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
